<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ZWIE | Kindergarten</h1>
        <p class="lead text-muted">Kindergartens: they're like a garden for children</p>
        <p>
          <%= link_to 'Find out more about us', about_us_path, class: 'btn btn-primary' %>
          <%= link_to 'Read our blog', blogs_path, class: 'btn btn-secondary' %>
        </p>
    </div>
</section>