<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>This blog is written by me! My name is Kevin Sparling and I'm from St. John's, Newfoundland, Canada and have worked at the ZWIE kindergarten since March 2015.
        I write one blog post here a week concerning whatever comes most immediately to mind, usually conerning good girls or naughty boys. Oh so many naughty boys!</p>
    </div>
    <div class="sidebar-module">
        <h4>Topics</h4>
        <% @side_bar_topics.each do |topic| %>
        <button class="btn btn-default"><%= link_to topic.title, topic_path(topic) %></button>
        <% end %>
    </div>
    <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#"><%= fa_icon "github" %></a></li>
            <li><a href="#"><%= fa_icon "weibo" %></a></li>
            <li><a href="#"><%= fa_icon "wechat" %></a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->