<div class="blog-masthead">
    <div class="container">
        <nav class="nav blog-nav">
            <%= navbar_helper 'nav-link', 'a' %>
            <%= login_helper 'nav-link' %>
        </nav>
    </div>
</div>