<h1>About Us</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "kindy.jpg", width: 300, alt: "school image" %>
    </div>
    <div class="col-md-8">
        <p>Blah blah blah blah Blah blah blah blah Blah blah blah blah
        Blah blah blah blahBlah blah blah blahBlah blah blah blah
        Blah blah blah blahBlah blah blah blahBlah blah blah blah
        Blah blah blah blahBlah blah blah blahBlah blah blah blah
        </p>
    </div>
</div>
