    
<div class="inner cover">
  <h1 class="cover-heading">Guanzhoug Internation Kindergarten</h1>
  <p class="lead">We want to provide your child with the best education possible</p>
  <p class="lead">
    <%= link_to "Teacher Kevin's Blog", blogs_path, class: 'btn btn-large btn-primary' %>
    <%= link_to "Photo Albums", albums_path, class: 'btn btn-large btn-secondary' %>
  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</div>