<div class="card">
    <%= image_tag album_img(album_item.thumb_image, 'thumb') %>
    <p class="card-text">
        <span><%= link_to album_item.title, album_path(album_item) %></span>
    </p>
</div>