<div class="container">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag @album_item.main_image %>
        </div>
        <div class="col-md-5">
            <h1><%= @album_item.title %></h1>
            <em><%= @album_item.subtitle %></em>

            <hr>

            <h2>Tags</h2>
            <% @album_item.tags.each do |t| %>
            <p>{{ t.name }}</p>
            <% end %>
        </div>
    </div>
</div>
