<%= image_tag @album_item.main_image %>

<h1><%= @album_item.title %></h1>

<em><%= @album_item.subtitle %></em>

<h2>Tags</h2>
<% @album_item.tags.each do |t| %>
    <p>{{ t.name }}</p>
<% end %>

<hr>

<%= session.inspect %>
